<html>
<div class="container">
    <form method="POST" enctype="multipart/form-data"> <!-- post : handle submission -->
        <h2>Predict New Picture's Label for Project  {{ projnm }}</h2>
        <br/> Let's guess what your picture is! :P <br/>
        <br/> Upload one image below please <br/>  <!-- limit one image just for kidding version -->
        {{ form.csrf_token }} <!--  render the form's CSRF field like normal. -->
        {{ form.file_selector }}
        {{ form.submit }}
        <br/>It looks like you just uploaded an image of class: <br/>  <!-- just for kidding version -->
        {{ pred_lab }}
        <br/>
    </form>
</div> <!-- /container -->
</html>