<html lang="en">
    <head>
        <link href="static/signup.css" rel="stylesheet" type="text/css" media="all">
    </head>
    <body>
        <h1 style="text-align:center;"></a></h1>
        <div class="box">
            <h1>REGISTER</h1>
            <form action="" method="POST">
                <input type="text" name="username" id="username" placeholder="username" value="{{request.form.username}}">
                <br>
                <input type="text" name="email" id="email" placeholder="email" value="{{request.form.email}}">
                <br>
                <input type="text" name="companyname" id="companyname" placeholder="company name" value="{{request.form.companyname}}">
                <br>
                <input type="password" name="password" id="password" placeholder="password" value="{{request.form.password}}">
                <br>
                <!-- <input type="password" name="password" id="password" placeholder="Repeat Password" required/>
                <br> -->
                <h2 style="text-align:center;"><input type="submit" class="button" value="SIGN UP"/></h2>
                <h5 style="text-align:center;"><a class="txt1 bo1 hov1" href="{{url_for('signin')}}">Already a member? Sign in now </h5>
            </form>
        </div>
    </body>
</html>
