<html lang="en">
    <head>
        <link href="static/signup.css" rel="stylesheet" type="text/css" media="all">
    </head>
    <body>
        <h1 style="text-align:center;"></a></h1>
        <div class="box">
            <h1>REGISTER</h1>
            <form action="/" method="post">
                <input type="text" name="username" id="username" placeholder="Username" required/>
                <br>
                <input type="text" name="email" id="email" placeholder="Email" required/>
                <br>
                <input type="text" name="company" id="company" placeholder="Compnay" required/>
                <br>
                <input type="password" name="password" id="password" placeholder="Password" required/>
                <br>
                <input type="password" name="password" id="password" placeholder="Repeat Password" required/>
                <br>
                <h2 style="text-align:center;"><input type="submit" class="button" value="SIGN UP"/></h2>
                <h5 style="text-align:center;"><a class="txt1 bo1 hov1" href="signin.html">Already a member? Sign in now </h5>
            </form>
        </div>
    </body>
</html>
