<html lang="en">
    <head>
        <link href="static/addcss/signin.css" rel="stylesheet" type="text/css" media="all">
    </head>
    <body>
        <h1 style="text-align:center;"></a></h1>
        <div class="box">
            <h1>LOGIN </h1>
            <form action="" method="POST">
                <input type="text" name="username" id="username" placeholder="username" value="{{request.form.username}}">
                <br>
                <input type="password" name="password" id="password" placeholder="password" value="{{request.form.password}}">
                <br>
                <h2 style="text-align:center;"><input type="submit" class="button" value="LOGIN"/></h2>
                <h5 style="text-align:center;"><a class="txt1 bo1 hov1" href="{{url_for('register')}}">Not a member? Sign up now </h5>
            </form>
        </div>
    </body>
</html>
